In [43]:
import pandas as pd

growth_df = pd.read_csv("Output/top_growth_areas.csv")
ptv_df = pd.read_csv("Output/PTV_suburb.csv")

In [44]:
ptv_df.head()
ptv_df.head()

,suburb,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,stop_name,stop_lat,stop_lon
0,Abbotsford,5739,5739,5739,5739,5739,0,5739,5739,5739,5739,5739,5739
1,Aberfeldie,1576,1576,1576,1576,1576,0,1576,1576,1576,1576,1576,1576
2,Aintree,560,560,560,560,560,0,560,560,560,560,560,560
3,Airport West,4182,4182,4182,4182,4182,0,4182,4182,4182,4182,4182,4182
4,Albanvale,631,631,631,631,631,0,631,631,631,631,631,631

In [45]:
growth_df.head()

,Unnamed: 0,Area Name,Total 2016,Total 2021,Total 2026,Total 2031,Total 2036,GCCSA,Total Growth,Total Growth %
0,0,Alfredton,11852.0,15513.0,19227.0,22932.0,26437.0,2RVIC,14585.0,1.230594
1,5,Delacombe,7195.0,9489.0,12714.0,15973.0,19196.0,2RVIC,12001.0,1.667964
2,24,White Hills - Ascot,11914.0,14934.0,17644.0,20184.0,22487.0,2RVIC,10573.0,0.887443
3,40,Grovedale,23790.0,33501.0,43120.0,52136.0,60216.0,2RVIC,36426.0,1.531148
4,42,Lara,18587.0,21733.0,24510.0,27074.0,29635.0,2RVIC,11048.0,0.594394

In [46]:
merged_test =pd.merge(growth_df, ptv_df, left_on="Area Name", right_on="suburb",how="left")
merged_test = merged_test[["Area Name", "Total Growth", "Total Growth %", "suburb","stop_id","GCCSA"]]
NAN_areas = merged_test[merged_test.isna().any(axis=1)]
NAN_areas
matched_areas = merged_test.dropna()

In [47]:
NAN_areas.to_csv("Output/NAN_areas.csv")
NAN_areas

,Area Name,Total Growth,Total Growth %,suburb,stop_id,GCCSA
0,Alfredton,14585.0,1.230594,NaN,NaN,2RVIC
1,Delacombe,12001.0,1.667964,NaN,NaN,2RVIC
2,White Hills - Ascot,10573.0,0.887443,NaN,NaN,2RVIC
3,Grovedale,36426.0,1.531148,NaN,NaN,2RVIC
4,Lara,11048.0,0.594394,NaN,NaN,2RVIC
5,Ocean Grove - Barwon Heads,21796.0,0.901518,NaN,NaN,2RVIC
6,Torquay,12937.0,0.676232,NaN,NaN,2RVIC
7,Wodonga,16335.0,0.655524,NaN,NaN,2RVIC
8,Drouin,12940.0,0.787344,NaN,NaN,2RVIC
9,Warragul,10612.0,0.555951,NaN,NaN,2RVIC
12,Melbourne,43064.0,1.071750,NaN,NaN,2GMEL
15,Port Melbourne Industrial,23476.0,939.040000,NaN,NaN,2GMEL
17,South Yarra - East,12904.0,0.577360,NaN,NaN,2GMEL
18,Richmond (Vic.),17114.0,0.523588,NaN,NaN,2GMEL
21,Preston - East,12546.0,0.592016,NaN,NaN,2GMEL
22,Wallan,47278.0,2.823073,NaN,NaN,2GMEL
27,Sunbury - South,20185.0,0.729069,NaN,NaN,2GMEL
28,Greenvale - Bulla,18004.0,1.051451,NaN,NaN,2GMEL
29,Craigieburn - South,11748.0,0.691099,NaN,NaN,2GMEL
30,Craigieburn - West,16423.0,1.103548,NaN,NaN,2GMEL
31,Mickleham - Yuroke,54754.0,15.294413,NaN,NaN,2GMEL
32,Lilydale - Coldstream,10231.0,0.526070,NaN,NaN,2GMEL
33,Beaconsfield - Officer,35640.0,2.618278,NaN,NaN,2GMEL
34,Pakenham - North,15701.0,0.810583,NaN,NaN,2GMEL
44,Bacchus Marsh,15017.0,0.715470,NaN,NaN,2GMEL
48,Rockbank - Mount Cottrell,62106.0,19.728717,NaN,NaN,2GMEL
51,Werribee - South,17080.0,1.450408,NaN,NaN,2GMEL
53,Point Cook - East,10265.0,0.800827,NaN,NaN,2GMEL
54,Point Cook - South,15156.0,1.000594,NaN,NaN,2GMEL
55,Werribee - West,38110.0,3.102662,NaN,NaN,2GMEL

In [48]:
matched_areas.to_csv("Output/matched_areas.csv")
matched_areas

,Area Name,Total Growth,Total Growth %,suburb,stop_id,GCCSA
10,Moonee Ponds,10441.0,0.688811,Moonee Ponds,6881.0,2GMEL
11,Docklands,17325.0,1.464249,Docklands,6856.0,2GMEL
13,North Melbourne,23286.0,1.053379,North Melbourne,6661.0,2GMEL
14,Southbank,26898.0,1.325808,Southbank,7029.0,2GMEL
16,South Melbourne,17437.0,1.395853,South Melbourne,7138.0,2GMEL
19,Doncaster,11273.0,0.515102,Doncaster,11771.0,2GMEL
20,Box Hill,15419.0,0.739911,Box Hill,7505.0,2GMEL
23,Whittlesea,36428.0,4.318160,Whittlesea,734.0,2GMEL
24,Doreen,11173.0,0.512499,Doreen,3261.0,2GMEL
25,Mernda,14139.0,0.823423,Mernda,4510.0,2GMEL
26,Wollert,54253.0,5.715053,Wollert,1404.0,2GMEL
35,Cranbourne East,91847.0,3.433019,Cranbourne East,1983.0,2GMEL
36,Cranbourne North,12378.0,0.589850,Cranbourne North,2671.0,2GMEL
37,Cranbourne South,45487.0,4.989798,Cranbourne South,312.0,2GMEL
38,Cranbourne West,13341.0,0.850558,Cranbourne West,917.0,2GMEL
39,Dandenong,17974.0,0.549664,Dandenong,9848.0,2GMEL
40,Clayton,13523.0,0.571266,Clayton,7371.0,2GMEL
41,Altona North,10940.0,0.739839,Altona North,6370.0,2GMEL
42,Footscray,27149.0,1.565415,Footscray,11439.0,2GMEL
43,Maribyrnong,12061.0,0.931351,Maribyrnong,6275.0,2GMEL
45,Hillside,43920.0,2.061488,Hillside,1884.0,2GMEL
46,Melton South,46231.0,1.906983,Melton South,2049.0,2GMEL
47,Melton West,11010.0,0.606378,Melton West,2108.0,2GMEL
49,Tarneit,71601.0,1.966844,Tarneit,6283.0,2GMEL
50,Truganina,24600.0,0.998863,Truganina,2236.0,2GMEL
52,Wyndham Vale,41677.0,1.717223,Wyndham Vale,1801.0,2GMEL